@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

/* Base style */
:root {
    --bg-color: #907f94;
    --bg-color2: #F8F8F8;
    --text-color: #ffffff;
    --text-color2: #6e6c6c;
}

/* Imported font */
@font-face {
    font-family: "Catchye";
    src: url("font/Catchye.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Fashion";
    src: url("font/Fashion\ Fetish\ Light.ttf");
    font-weight: normal;
}

body {
    font-family: "Catchye", sans-serif;
    background-color: var(--bg-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* Navigation bar */
nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    letter-spacing: 2.5px;
}

.nav-button {
    background: transparent;
    border: 1.5px solid #ffffff;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 2.5px;
    font-family: "Catchye";
}

.nav-button.active {
    border-color: #000000; /* Couleur de la bordure active */
    color: #000000; /* Couleur du texte active */
}

nav .right a {
    margin: 0 1rem;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.nav-link.active {
    color: #000000; /* Couleur active */
}

section {
    height: 100vh;
}

/* Hero section */
.hero {
    height: 100vh;
    background-image: url("media/hero.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home {
    color: #ffffff;
    letter-spacing: 2px;
}

.home h1 {
    font-family: "Catchye";
    font-size: 4rem;
    margin-bottom: 1rem;
}

.home h2 {
    font-family: "Catchye";
    font-size: 3rem;
}

.home p {
    font-family: "Catchye";
    font-size: 1rem;
}

.home button {
    background: transparent;
    margin-top: 2rem;
    padding: 15px 20px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Catchye";
    font-size: 1.5rem;
    transition: transform 0.4s ease;
}

.home button:hover {
    background-color: #ffffff;
    color: #7A6F86;
    font-size: 1.8rem;
    transform: scale(1.2);
}

.about {
    height: 100vh;
}

.about .parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}
    
.about .div1 { 
    grid-area: 1 / 4 / 7 / 8;
    padding-top: 15vh;
}

.about .div2 { 
    grid-area: 2 / 1 / 5 / 4; 
    background-image: url("media/about-profil.jpg");
    background-size: cover;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin-left: 6rem;
}

.about .div3 { 
    grid-area: 5 / 1 / 6 / 4;
    /* background-color: red; */
}

.about .parent .div1 .title {
    text-align: center;
}

.about .parent .div1 .title h1 {
    font-size: 3rem;
    color: #315377;
}

.about .parent .div1 .title p {
    font-size: 1rem;
    font-family: "Fashion";
    color: #ffffff;
}
    
.about .parent .div1 .timeline {
    margin: 3em auto;
    max-width: 80%;
}   

.about .parent .div1 .checkpoint {
    max-width: 50%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    position: relative;
}

.about .parent .div1 .checkpoint h2 {
    padding-bottom: 0.1rem;
    color: #315377;
}

.about .parent .div1 .checkpoint p {
    line-height: 17px;
    font-family: "Fashion";
    font-size: 14px;
    color: #ffffff;
}

.about .parent .div1 .checkpoint:nth-child(odd) {
    border-left: 3px solid #ffffff;
    padding-left: 1.5em;
    transform: translateX(17em);
}

.about .parent .div1 .checkpoint:nth-child(even) {
    border-right: 3px solid #ffffff;
    padding-right: 1.5em;
    transform: translateX(-0.25em);
}

.about .parent .div1 .checkpoint .border {
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 1em;
}
