@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

/* Base style */
:root {
    --bg-color: #907f94;
    --bg-color2: #F8F8F8;
    --text-color: #ffffff;
    --text-color2: #6e6c6c;
}

/* Imported font */
@font-face {
    font-family: "Catchye";
    src: url("font/Catchye.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Fashion";
    src: url("font/Fashion\ Fetish\ Light.ttf");
    font-weight: normal;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Catchye", sans-serif;
    background-color: var(--bg-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* Navigation bar */
nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    letter-spacing: 2.5px;
}

.nav-button {
    background: transparent;
    border: 1.5px solid #ffffff;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 2.5px;
    font-family: "Catchye";
    transition: transform 0.4s ease;
}

.nav-button.active {
    border-color: #000000;
    color: #000000;
}

.nav-button:hover {
    background-color: #ffffff;
    color: #7A6F86;
    transform: scale(1.1);
}

nav .right a {
    margin: 0 1rem;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.nav-link.active {
    color: #000000;
}

section {
    height: 100vh;
}

/* Hero section */
.hero {
    height: 100vh;
    background-image: url("media/hero.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home {
    color: #ffffff;
    letter-spacing: 2px;
}

.home h1 {
    font-family: "Catchye";
    font-size: 4rem;
    margin-bottom: 1rem;
}

.home h2 {
    font-family: "Catchye";
    font-size: 3rem;
}

.home p {
    font-family: "Catchye";
    font-size: 1rem;
}

.home button {
    background: transparent;
    margin-top: 2rem;
    padding: 15px 20px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Catchye";
    font-size: 1.5rem;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.home button:hover {
    background-color: #ffffff;
    color: #7A6F86;
    font-size: 1.8rem;
    transform: scale(1.2);
}

/* About section */
.about {
    height: 100vh;
}

.about .parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.about .div1 {
    grid-area: 1 / 4 / 7 / 8;
    padding-top: 15vh;
}

/* Div2 style + Profil's img */
.about .div2 {
    grid-area: 2 / 1 / 5 / 4;
    background-image: url("media/about-profil.jpg");
    background-size: cover;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin-left: 6rem;
    transition: transform 0.4s ease;
}

.about .div2:hover {
    transform: scale(1.1);
}

.about .div3 {
    grid-area: 5 / 1 / 6 / 4;
}

/* Time line style */
.about .parent .div1 .title {
    text-align: center;
}

.about .parent .div1 .title h1 {
    font-size: 3rem;
    color: #315377;
}

.about .parent .div1 .title p {
    font-size: 1rem;
    font-family: "Fashion";
    color: #ffffff;
}

.about .parent .div1 .timeline {
    margin: 3em auto;
    max-width: 80%;
}

.about .parent .div1 .checkpoint {
    max-width: 50%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    position: relative;
}

.about .parent .div1 .checkpoint h2 {
    padding-bottom: 0.1rem;
    color: #315377;
}

.about .parent .div1 .checkpoint p {
    line-height: 17px;
    font-family: "Fashion";
    font-size: 14px;
    color: #ffffff;
}

.about .parent .div1 .checkpoint:nth-child(odd) {
    border-left: 3px solid #ffffff;
    padding-left: 1.5em;
    transform: translateX(17em);
}

.about .parent .div1 .checkpoint:nth-child(even) {
    border-right: 3px solid #ffffff;
    padding-right: 1.5em;
    transform: translateX(-0.25em);
}

.about .parent .div1 .checkpoint .border {
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 1em;
}

/* Social media's buttons */
.about .parent .div3 .social-media {
    margin-left: 13.4rem;
    margin-top: 2rem;
}

.about .parent .div3 .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.7rem;
    height: 2.7rem;
    background: transparent;
    border: 2px solid #315377;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    margin: 25px 15px 30px 0;
}

.about .parent .div3 .social-media a:hover {
    background: #ffffff;
    color: #315377;
}

/* Projects section */
#skills-section {
    background-color:#315377;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem; /* Add gap between elements */
}

#skills-section h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
    color: #F8F8F8;
    letter-spacing: 8px;
}

#skills-section .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /* Add gap between icons */
}

#skills-section i {
    font-size: 3rem;
    color: #F8F8F8;
    transition: transform 0.3s ease, color 0.3s ease;
    margin: 1rem 0; /* Add margin to ensure proper spacing */
}

#skills-section i:hover {
    transform: scale(1.2);
    color: #907f94;
}
.projects {
    height: 110vh;
    background: var(--bg-color); 
}

.projects .projects-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
    margin-top: 2rem;
}

.projects h2 {
    font-family: 'Catchye';
    font-size: 3rem;
    text-align: center;
    color: #315377;
    margin-top: 4rem;
}

.card {
    border: 1px solid #315377;
    border-radius: 8px;
    width: 300px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}
.card h3 {
    margin-top: 16px;
    font-size: 1.5em;
    text-align: center;
    background-color: #315377;
    border-radius: 10px;
}
.card p {
    text-align: center;
    color: #f8f8f8;
    font-family: 'poppins';
    font-size: 0.9rem;
    margin-top: 1rem;
}

.contact {
    height: 50vh;
    background-color: #315377;
}

.contact h2 {
    text-align: center;
    font-family: 'Catchye';
    font-size: 3rem;
    color: #f8f8f8;
    padding-top: 3rem;
}